@import '../node_modules/normalize.css/normalize';
@import '../src/index';

$strumming-animation-duration: .5s;
$strumming-animation-repeat: 1;
$strumming-animation-effect: ease;
$strumming-animation-1-starts: 0s;
$strumming-animation-2-starts: $strumming-animation-1-starts + $strumming-animation-duration;
$strumming-animation-3-starts: $strumming-animation-2-starts + $strumming-animation-duration;
$strumming-animation-4-starts: $strumming-animation-3-starts + $strumming-animation-duration;
$strumming-animation-5-starts: $strumming-animation-4-starts + $strumming-animation-duration;
$strumming-animation-6-starts: $strumming-animation-5-starts + $strumming-animation-duration;
$strumming-animation-7-starts: $strumming-animation-6-starts + $strumming-animation-duration;
$strumming-animation-8-starts: $strumming-animation-7-starts + $strumming-animation-duration;
$strumming-animation-9-starts: $strumming-animation-8-starts + $strumming-animation-duration;
$strumming-animation-10-starts: $strumming-animation-9-starts + $strumming-animation-duration;
$strumming-animation-11-starts: $strumming-animation-10-starts + $strumming-animation-duration;
$strumming-animation-12-starts: $strumming-animation-11-starts + $strumming-animation-duration;

$c-white: #ffffff;
$c-black: #000000;
$c-title: #ffffff;
$c-inverse: #009688;
$c-highlight: #f06292;

html {
  overflow-x: hidden;
}

body {
  background: $c-white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: $c-inverse;
  font-size: 8vw;
  margin: 0;
  padding: 1em 1% 0;
  text-align: center;

  &.demo-Default {
    color: $c-black;
  }
}

.demo-Inverse {
  background: $c-inverse;

  h1 {
    color: $c-white;
  }
}

ul {
  & {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 2.5em 0 1.5em;
  }

  li {
    & {
      list-style: none;
      margin-bottom: 3em;
      width: 100%;
    }

    &:hover {
      g:nth-child(2) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-1-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(3) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-2-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(4) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-3-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(5) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-4-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(6) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-5-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(7) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-6-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(8) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-7-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(9) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-8-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(10) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-9-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(11) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-10-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(12) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-11-starts $strumming-animation-effect $strumming-animation-repeat;
      }

      g:nth-child(13) * {
        animation: hightlight $strumming-animation-duration $strumming-animation-12-starts $strumming-animation-effect $strumming-animation-repeat;
      }
    }
  }
}

@keyframes hightlight {
  0% {
    stroke: $c-highlight;
  }

  100% {
    stroke: $c-highlight;
  }
}
