@import '../node_modules/normalize.css/normalize';
@import '../src/index';

$c-white: #ffffff;
$c-custom: #009688;

html {
  overflow-x: hidden;
}

body {
  background: $c-white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 8vw;
  margin: 0;
  padding: 1em 1% 0;
  text-align: center;
}

.demo-Custom {
  h1,
  strong {
    color: $c-custom;
  }

  svg {
    line,
    polyline {
      stroke: $c-custom;
    }
  }
}

.demo-Inverse {
  background: $c-custom;

  h1,
  strong {
    color: $c-white;
  }

  svg {
    line,
    polyline {
      stroke: $c-white;
    }
  }
}

ul {
  & {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 2.5em 0 1.5em;
  }

  li {
    list-style: none;
    margin-bottom: 3em;
    width: 100%;
  }
}
